.landing-header {
    background-color: white;
    display: grid;
    place-items: center;
    gap: 18.85281rem;
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    transition: 0.6s all ease-in-out;
}

.dk-mode {
    background-color: #212121;
    display: grid;
    place-items: center;
    gap: 18.85281rem;
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    transition: 0.6s all ease-in-out;

}

.title-project {
    width: 62.75rem;
    height: 22.25rem;
    position: relative;
    display: grid;
    place-items: center;
}


.title-maj {
    color: #AD00FF;
    text-align: center;
    font-size: 15.875rem;
    line-height: normal;
    transition: 0.6s all ease-in-out;
}

.dark-maj{
    color: #f2f2f2;
    text-align: center;
    font-size: 15.875rem;
    line-height: normal;
    transition: 0.6s all ease-in-out;
}

.title-curs {
    color: #212121;
    text-align: center;
    font-size: 8rem;
    line-height: normal;
    position: absolute;
    left: 25%;
    top: 25%;
    transition: 0.6s all ease-in-out;

}

.dark-curs {
    color: #AD00FF;
    text-align: center;
    font-size: 8rem;
    line-height: normal;
    position: absolute;
    left: 25%;
    top: 25%;
    transition: 0.6s all ease-in-out;
}

.light-mode,
.dark {
    cursor: pointer;
    font-size: 28px;
    position: absolute;
    bottom: 95%;
    transition: color 0.6s;
}

.light-mode {
    color: #212121;
}

.dark {
    color: #f2f2f2;
}