.lg-project {
    margin-top: 1rem;
    height: 3rem;
    flex-shrink: 0;
    border-bottom: solid 1px #222222;
    /* height: 2rem; */
}

.lg-project a {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lg-project :nth-child(1) {
    color: #212121;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.lg-project a:hover :nth-child(1) {
    font-weight: 800;
}

.lg-project :nth-child(2) {
    color: #212121;
    text-align: right;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.lg-project-dk {
    margin-top: 1rem;
    height: 3rem;
    flex-shrink: 0;
    border-bottom: solid 1px #fff;
    /* height: 2rem; */
}

.lg-project-dk a {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lg-project-dk :nth-child(1) {
    color: #fff;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.lg-project-dk a:hover :nth-child(1) {
    
    font-weight: 800;
}

.lg-project-dk :nth-child(2) {
    color: #fff;
    text-align: right;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}