@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  display: grid;
  place-items: center;
  align-content: center;
  min-height: 100vh;
  scroll-snap-align: center;
}

.main {
  background-color: transparent;
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  transition: 0.6s all ease-in-out;

}

.main-dk {
  background-color: #212121;
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  transition: 0.6s all ease-in-out;
}


.show {
  display: grid !important;
  opacity: 1;
  /* visibility: visible !important; */
  transition: opacity 0.5s ease-in-out;
}

.hidden {
  display: none !important;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;

}


.header {
  height: 100vh;
  scroll-snap-align: center;
  transition: 0.3s all ease-in-out;
}


.project {
  position: absolute;
  width: 100%;
  height: 100%;

}

.project-dk {
  position: absolute;
  width: 100%;
  height: 100%;
  color: #fff;
}