@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  ::-webkit-scrollbar {
    display: none;
  }

}

.main {
  background-color: transparent;
  height: 105vh;
  scroll-snap-type: y mandatory;
  transition: 0.6s all ease-in-out;
  display: flex;
  flex-direction: column;
}

.main-dk {
  background-color: #212121;
  height: 105vh;
  scroll-snap-type: y mandatory;
  transition: 0.6s all ease-in-out;
  display: flex;
  flex-direction: column;
}

.hidden {
  opacity: 0;
  transition: opacity 0.1s ease-in-out;


}

.show {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  margin: auto;
}



.header {
  height: 100vh;
  scroll-snap-align: center;
  transition: 0.3s all ease-in-out;

}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 100vh;
  scroll-snap-align: center;
  transition: 0.3s all ease-in-out;
}

.project {
  position: absolute;
  width: 83.75rem;
  height: 58rem;
  top: 0;
  left: 6.1rem;
  margin: auto;
  border: solid;
}

@media screen and (min-height: 1030px) {
  .main .main-dk {
    height: 110vh;
  }

}