.pg-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    border: 1px solid #212121;
    width: 83.75rem;
    height: 58rem;
    position: relative;
}

.gp-title {
    width: 284px;
    height: 90px;
    left: 527px;
    top: -45px;
    position: absolute;
}


.rectangle2 {
    width: 284px;
    height: 69px;
    left: 0;
    top: 13px;
    position: absolute;
    background: white;
    border: 1px solid #212121;
}


.lp-title-maj {
    left: 15px;
    top: -2px;
    position: absolute;
    text-align: center;
    color: #AD00FF;
    font-size: 64px;
    font-family: 'Kelson';
    font-weight: 800;
    word-wrap: break-word;
}


.lp-title-curs {
    width: 158.95px;
    height: 38.14px;
    left: 59px;
    top: 20px;
    position: absolute;
    text-align: center;
    color: #212121;
    font-size: 32px;
    font-family: 'Kaushan Script';
    font-weight: 400;
    word-wrap: break-word;
}