.pg-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    margin: auto;
    border: 1px solid #212121;
    background-color: transparent;
    width: 77.8rem;
    height: 47rem;
    position: relative;
    /* transition: 0.6s all ease-in-out; */

}

.pg-projects-dk {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    margin: auto;
    border: 1px solid #AD00FF;
    background-color: transparent;
    width: 77.8rem;
    height: 47rem;
    position: relative;
}


.gp-title {
    width: 284px;
    height: 90px;
    left: 527px;
    top: -45px;
    position: absolute;
}


.rectangle2 {
    width: 284px;
    height: 69px;
    left: 0;
    top: 13px;
    position: absolute;
    background: white;
    border: 1px solid #212121;
    transition: 0.6s all ease-in-out;
}

.lp-title-maj {
    left: 15px;
    top: -2px;
    position: absolute;
    text-align: center;
    color: #AD00FF;
    font-size: 64px;
    font-family: 'Kelson';
    font-weight: 800;
    word-wrap: break-word;
    transition: 0.6s color ease-in-out;
}

.maj-dk {
    color: white;
}

.lp-title-curs {
    width: 158.95px;
    height: 38.14px;
    left: 59px;
    top: 20px;
    position: absolute;
    text-align: center;
    color: #212121;
    font-size: 32px;
    font-family: 'Kaushan Script';
    font-weight: 400;
    word-wrap: break-word;
    transition: 0.6s color ease-in-out;
}

.curs-dk {
    color: #AD00FF;
}