.pg-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    border: 1px solid #212121;
    background-color: transparent;
    width: 83.75rem;
    height: 58rem;
    position: relative;
    transition: 0.6s all ease-in-out;
}

.pg-projects-dk {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    border: 1px solid #AD00FF;
    background-color: transparent;
    width: 83.75rem;
    height: 58rem;
    position: relative;
}